<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>HomeStead | Login</title>
  
        {% load staticfiles %}
  
        <link rel="stylesheet" href="{% static 'login/css/style.css' %}">

  
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome to HOMESTEAD</h1>

            <form class="form" method="post">{% csrf_token %}
                <input type="text" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit" id="login-button">Login</button>
            </form>
            <p class="guest"><a href="/member/register">Sign Up</a><a href="/">OR continue with guest</a></p>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="{% static 'login/js/index.js' %}"></script>
</body>
</html>
